.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-data {
    padding-top: 40px;
    text-align: center;
}

.profile-data h2 {
    margin-bottom: 50px;
}

.profile-data-item {
    margin-bottom: 10px;
}

.profile-data-item b {
    display: block;
}